<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .card {padding: 10px 30px;
    }
</style>

<body>

{% for author in authors %}
<div class="row">
    <div class="card"> Author : {{author.id}}
        <div class="card-body">

            <h3 class="card-text">{{author.first_name}}</h3>
            <h3 class="card-text">{{author.last_name}}</h3>

            <a href="{% url 'home' %}" class="btn btn-primary"> Come Back </a>
            <a href="{% url 'author_books' author.id %}" class="btn btn-primary"> Author books </a>

        </div>
    </div>
</div>
{% endfor %}
</body>
</html>
